@page
@model Pharmacy.Pages.Search.DetailsModel
@{
    ViewData["Title"] = "Details";
}

<h1>DETAILS</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.calciatorecercato.codicefiscale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.calciatorecercato.cognome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.calciatorecercato.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.calciatorecercato.nazione)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.calciatorecercato.nascita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.calciatorecercato.ruolo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.calciatorecercato.primasquadra)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.calciatorecercato.codicefiscale)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.calciatorecercato.cognome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.calciatorecercato.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.calciatorecercato.nazione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.calciatorecercato.nascita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.calciatorecercato.ruolo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.calciatorecercato.primasquadra)
            </td>
            <td>
                <a asp-page="./Index">Back to Index</a>
            </td>
        </tr>
    </tbody>
</table>

